#cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
}

#cart-icon {
  font-size: 36px;
  text-align: center;
}

#cart-stack {
  position: relative;
  margin-top: 6px;
}

.cart-item {
  position: absolute;
  left: 0;
  font-size: 22px;
  pointer-events: none;
}