#cart {
  position: relative;
  bottom: 20px;
  right: 20px;
  width: 60px;
}

#shopcart {
  z-index:2;
}

#cart-stack {
  position: absolute;
  bottom: 0px; 
  left: 150px;
  width: 60px;
  height: 60px;
  z-index: 1;  
}

.cart-item {
  position: absolute;
  left: 0;
  font-size: 22px;
  pointer-events: none;
}

