#cart {
  position: relative;
  bottom: 20px;
  right: 20px;
  width: 60px;
}

#shopcart {
  z-index:2;
}

#cart-stack {
  position: absolute;
  bottom: 95px; 
  left: 150px;
  width: 60px;
  height: 60px;
  z-index: 1;  
}

.cart-item {
  position: absolute;
  left: 0;
  font-size: 22px;
  pointer-events: none;
}

.cart-full {
  position: fixed;  
  text-align: center;
  font-size: 30px;     
  top: -200px;                 
  left: 50%;               
  transform: translateX(-50%); 
  background-color: rgba(255, 0, 0, 0.8); 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1000;           
}
