#container {
  display: flex;
  height: 100vh;
}

/* left side */
#item-list {
  width: 280px;
  background: linear-gradient(to bottom, #f8f8f8, #eaeaea);
  padding: 20px;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#item-list h2 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
}

/* right side cart area */
#cart-area {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}